
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ff6f61, #379683);
  color: white;
  padding: 0 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.text-content {
  max-width: 600px;
  animation: fadeInUp 2s ease-out;
}

.hero-section h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
}

.hero-section h1 span {
  color: #ff6f61;
}

.hero-description {
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.explore-btn {
  background-color: #ff6f61;
  color: #fff;
  padding: 12px 24px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.explore-btn:hover {
  background-color: #e75d4f;
  transform: scale(1.1);
}


.image-wrapper {
  max-width: 50vw;
  transition: transform 0.3s ease;
}

.hero-image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(80%);
}

.hero-section:hover .image-wrapper {
  transform: scale(1.05);
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
